@import 'config';
@import 'menu';
@import 'itemgrid';

* {
    box-sizing: border-box; 
  }
  
  body {
    @include background;
    background: $primary-color;
    color: $quaternary-color;; 
    height: 100%;
    margin: 0;
    font-family: $text-font;
    line-height: 1.5
   }

   // Heading;
   h1,
   h2,
   h3 {
     margin: 0;
     font-weight: 400;

     &.lg-heading {
      font-size: 3.8rem;
      font-family: $font-title2;
      
     }

     &.sm-heading {
       margin-bottom: 2rem;
       padding: 0.2rem 1rem;
       background: rgba(lighten($primary-color, 2), 0.5);
       color: $tertiary-color;
     }
   }

   .animate:before {
     content: '';
     animation: animate infinite 8s;
   }
  // @keyframes animate {
  //  20%{
  //    content: 'Web Developer';
  //  }
  //  50%{
  //    content: 'Web Developer, Programmer';
   // }
  //  72%{
   //   content: 'Web Developer, Programmer & Entrepreneur';
  //  }
  // }

  @keyframes animate {
      3%{
        content: 'W';
    }
      5%{
        content: 'We';
    } 
      7%{
        content: 'Web';
    } 
      9%{
        content: 'Web D';
    } 
      11%{
        content: 'Web De';
    } 
      13%{
        content: 'Web Dev';
    } 
      15%{
        content: 'Web Deve';
    } 
      17%{
        content: 'Web Devel';
    } 
      19%{
        content: 'Web Develo';
    } 
      21%{
        content: 'Web Develop';
    } 
      23%{
        content: 'Web Develope';
    } 
      25%{
        content: 'Web Developer,';
    } 
      27%{
        content: 'Web Developer, P';
    } 
      29%{
        content: 'Web Developer, Pr';
    } 
      31%{
        content: 'Web Developer, Pro';
    } 
      33%{
        content: 'Web Developer, Prog';
    } 
      37%{
        content: 'Web Developer, Progra';
    } 
      39%{
        content: 'Web Developer, Program';
    } 
      41%{
        content: 'Web Developer, Programm';
    } 
      43%{
        content: 'Web Developer, Programme';
    } 
      45%{
        content: 'Web Developer, Programmer';
    } 
      47%{
        content: 'Web Developer, Programmer &';
    } 
      49%{
        content: 'Web Developer, Programmer & E';
    } 
      51%{
        content: 'Web Developer, Programmer & En';
    } 
      53%{
        content: 'Web Developer, Programmer & Ent';
    } 
      55%{
        content: 'Web Developer, Programmer & Ent';
    } 
      57%{
        content: 'Web Developer, Programmer & Ent';
    } 
      59%{
        content: 'Web Developer, Programmer & Entr';
    } 
      61%{
        content: 'Web Developer, Programmer & Entre';
    } 
      63%{
        content: 'Web Developer, Programmer & Entrep';
    } 
      65%{
        content: 'Web Developer, Programmer & Entrepr';
    } 
      63%{
        content: 'Web Developer, Programmer & Entrepre';
    } 
      65%{
        content: 'Web Developer, Programmer & Entrepren';
    } 
      67%{
        content: 'Web Developer, Programmer & Entreprene';
    } 
      69%{
        content: 'Web Developer, Programmer & Entrepreneu';
    } 
      71%{
        content: 'Web Developer, Programmer & Entrepreneur';
    } 
      80%{
        content: 'Web Developer, Programmer & Entrepreneur';
    } 
      90%{
        content: 'Web Developer, Programmer & Entrepreneur';
    } 
    
    }

   a {
     color: whitesmoke;
     text-decoration: none;
   }

   header {
     position: fixed;     
     z-index: 2; //how close an element is to you
     width: 100%;
   }

   .text-secondary {
    color: $secondary-color;
 
  }

   main {
     padding: 4rem;
     //height: 100%; the footer doesn't stick in this way
     min-height: calc(100vh - 60px); // - the height of the footer which is 60px

     .icons {
       margin-top: 1rem;

       a {
         padding: 0.5rem;

         &:hover {
           color: $secondary-color;
           @include easeOut();
         }
       }
     }

     &#home {
       overflow: hidden; //no scrollbar
       h1 {
         margin-top: 20vh;
       }
     }
   }
   
   .about-info {
     display: grid;
     grid-gap: 30px;
     grid-template-areas: 
     'bioimage bio bio'
     ;
     grid-template-columns: repeat(3, 1fr);

     .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: $secondary-color 4px solid;
    }
 
    .bio {
      grid-area: bio;
      font-size: 1.3rem;
    }
  }
 
    .bottom-line{
        float: right;
    }
    
    
    .container {
        h2{
            text-align: center;
            line-height: 0.4;
            
        }
    }
    
    .progress {
        overflow: hidden;
        height: 20px;
        background: whitesmoke;
        border-radius: 5px;
        //margin-bottom: 0.6rem;
        display: block;
        margin: 2px 20px;
        box-sizing: border-box;

        div {
            display: block;
          height: 100%;
          color: #fff;
          text-align: center;
          background: darken($secondary-color, 20);
          
        }
}

h4 {
    
    text-align: left;
    margin-left: 40px;
    line-height: 0.5;
    margin-bottom: 10px;

    &:nth-last-child() {
        margin-bottom: 20px;
    }
}
   // Contact Page
   
   .boxes {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     margin-top: 2rem;
     
     div {
       font-size: 1rem;
       border: 3px $secondary-color solid;
       padding: 1.5rem 2.5rem;
       margin-bottom: 3rem;
       @include easeOut;

       &:hover {
         padding: 1.5rem 2.5rem;
         background: $secondary-color;
         color: $primary-color;
         span {
          color: $primary-color;
         }
       }
 
     }
   }

   // Separation line

   hr {
     border: none;
     margin-bottom: 50px;
     margin-top: 20px;
     border-style: dotted;
     background: #ff0087;
     color: $primary-color;
   }

   #contact {
     &-a {
       .text-fields {
         display: grid;
         grid-template-areas: 
         'name email'
         'subject phone'
         'message message'
         ;
         grid-gap: 1.2rem;
         margin-bottom: 1.2rem;

         .name-input {
           grid-area: name;
         }
         .subject-input {
           grid-area: subject;
         }
         .email-input {
           grid-area: email;
         }
         .phone-input {
           grid-area: phone;
         }
         .message-input {
           grid-area: message;
           height: 130px;
         }

         .text-input {
           padding: 0.5rem 1rem;
         }

         input {
            border-radius: 3px;
            border-color: $secondary-color;
         }

         textarea {
            border-radius: 3px;
            border-color: $secondary-color;
         }

       }

       button[type='submit'] {
         width: 30%;
         margin: auto;
       }
       .section-title {
         color: $tertiary-color;
       }
     }
   }

   // Button Styles
   .btn {
     display: block;
     padding: 0.5rem 1rem;
     border: 0;
     border-radius: 3px;
     margin-bottom: 0.3rem;
     text-align: center;
     &:hover {
       background: $tertiary-color;
       @include easeOut;
     }
   }

   .btn-dark {
    @extend .btn;
    background: darken($secondary-color, 17);
    color: $tertiary-color;
    &:hover {
      color: darken($secondary-color, 20);
    }
   }

   .btn-light {
     @extend .btn;
    background: lighten($secondary-color, 50);
    color: #333;
  }

  .btn-form {
    @extend .btn;
    background: darken($secondary-color, 17);
    color: $quaternary-color;
    font-size: 1rem;

    &:hover {
      color: #333;
      text-size-adjust: 3rem;
      background: #ff0087;
    }
  }

  
   #main-footer {

     text-align: center;
     padding: 1.6rem 1rem;
     background: darken($primary-color, 10);
     color: whitesmoke;
     height: 100px;
   }

   @import 'mobile';